---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import PostsViewer from "../../components/PostsViewer";

const posts = await getCollection("blog");
---

<html lang="en">
  <head>
    <BaseHead
      title="amitch|blog"
      description="Collection of my musings, experiments in market, insights from ventures, and 'recipes' from my builds."
    />
  </head>
  <body class="p-0 m-0 max-w-screen">
    <Header />
    <main class="container mx-auto md:px-10">
      <h1>Blog Posts</h1>
      <PostsViewer client:load posts={posts} />
    </main>
    <Footer />
  </body>
</html>
