---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 08 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Most times, when I write things online, it has been pretty random and haphazard. On the other hand, I do document most things quite systematically for myself. I have decided to add some of that content here. You might ask what is the point of having more content online when most of it gets eaten up by  LLMs. Which I am sure, most people prefer over a blog/book/document. 
	</p>

	<p>
		I most likely will write about technology, programming, business, marketing, public policy, or some random art or science thing I get momentarily curious about. 
	</p>

	
</Layout>
