---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<p>
				Welcome to Divergent. This is a collection of  thoughts, experiences, resources and learnings. 
				Most times, when I write things online, it has been pretty random and haphazard. 
				On the other hand, I do document most things quite systematically for myself. 
				I have decided to add some of that content here. 
				You might ask what is the point of having more content online when most of it gets eaten up by  LLMs. 
				Which I am sure, most people prefer over a blog/book/document.
			</p>
			<p>
				If you are interested in technology, business or design, you might find some of the content here interesting and useful.
				I write about technology, programming, business, marketing, public policy, or some random art or science thing I get momentarily curious about. 
			</p>
		</main>
		<Footer />
	</body>
</html>
