---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center pb-20"
>
  <p class="text-md font-normal">
    &copy; {today.getFullYear()} @toxac. All rights reserved.
  </p>
  <div class="flex items-center gap-6 text-lg">
    <a href="https://github.com/toxac" target="_blank">
      <p class="text-pblue">Github</p>
    </a>
    <a href="https://www.linkedin.com/in/amitchanchal/" target="_blank">
      <p class="text-pblue">LinkedIn</p>
    </a>
  </div>
</footer>
